<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cl.joke">

    <application
        android:allowBackup="false"
        >
        <activity android:name=".JokeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            ></activity>
    </application>

</manifest>